@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Source+Sans+3&display=swap');


.background {
    background-color: #1DE592;
    border-radius: 16px;
    margin: 1rem auto;
    padding: 1rem 2rem 4rem 2rem;
    width: 35%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    word-break: break-all;
}


h4 {
    font-size: 16px;
    margin-top: 0;
}

.btn {
    border: none;
    border-radius: 1.5rem;
    background-color: white;
    color: black; 
    font-weight: 600;
    font-size: 14px;
    padding: 12px;
    width: 10rem;
    cursor: pointer;
}

/* Assignment 2 */

.background-2 {
    border-radius: 16px;
    border: 1px solid #DDDFE2;
    margin: 1rem auto;
    /* padding: 1rem 2rem 4rem 2rem; */
    width: 35%;
    box-sizing: border-box;
}

.heading {
    font-family: 'Raleway', sans-serif;
}
.sub-head {
    margin-top: 0;
    font-size: 16px;
    color: #6C6F73;
    font-family: 'Raleway', sans-serif;
}

.image-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 50px;
}

.bottom-border {
    border-top: 1px solid #cccccc;
}

.image-outline {
    border: 1px solid #cccccc;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}


.profile-btn {
    color: #1F75E8;
    border: none;
    background: none;
    cursor: pointer;
}

.section-1 {
    padding: 2rem;
}
.section-2 {
    padding: 1rem 2rem;
    border-top: 1px solid #cccccc;
}
